<form>
	<label><input type="radio" name="isBlacklist" value="true"/> {{localize "award-xp.blacklist"}}</label>
	<label><input type="radio" name="isBlacklist" value="false"/> {{localize "award-xp.whitelist"}}</label>
	<p class="notes" id="award-xp-explanation-blacklist">{{localize "award-xp.blacklist"}}: {{localize "award-xp.blacklist-explanation"}}</p>
	<p class="notes" id="award-xp-explanaiton-whitelist">{{localize "award-xp.whitelist"}}: {{localize "award-xp.whitelist-explanation"}}</p>
	<table class="award-xp-char-filter-list">
		<tr><th colspan="2">{{localize "award-xp.characters"}}</th><th></th></tr>
		{{#each characters}}
			<tr>
				<td class="award-xp-char-img-box"><img src="{{this.image}}" /></td>
				<td>{{this.name}}</td>
				<td><button type="button" data-actor="{{this.id}}" class="award-xp-remove-character"><i class="fas fa-trash"></i></button></td>
			</tr>
		{{/each}}
	</table>
	<button type="button" id="award-xp-filter-add-character">+</button>
</form>
